body{
    background: linear-gradient(to right, rgb(238, 237, 237) 50%, rgb(255, 255, 253) 50%);
}
p{
    position: absolute;
    width: 153px;
    height: 29px;
    left: 149px;
    top: 47px;
    
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    
    /* off black */
    
    color: #1A1A1A;   
}
button{
    position: absolute;
    width: 40px;
    height: 40px;
    left: 48px;
    top: 45px;
    background: #FFFFFF;
}
h3{
    position: absolute;
width: 29px;
height: 24px;
left: 920px;
top: 49px;

font-family: 'Helvetica Neue';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;
/* identical to box height */

text-align: right;

/* off black */

color: #1A1A1A;

}
hr{
    position: absolute;
width: 798px;
height: 0px;
left: 150px;
top: 100px;

/* off black */

border: 1px solid #1A1A1A;
}

#pirveli{
    width: 798px;
height: 21px;

font-family: 'Helvetica Neue';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 21px;
position: fixed;
margin-left: 150px;
top: 140px;
/* identical to box height, or 131% */

display: flex;
align-items: center;

color: #000000;


/* Inside auto layout */

flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
}
.saswavl{
    box-sizing: border-box;

width: 798px;
height: 48px;

background: #FFFFFF;
border: 1px solid #BCBCBC;
border-radius: 4px;
top: 180px;
margin-left: 140px;
/* Inside auto layout */
position: fixed;
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
}
.toto{
    width: 371px;
height: 21px;

font-family: 'Helvetica Neue';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 21px;
/* identical to box height, or 131% */
position: fixed;
display: flex;
align-items: center;
color: #000000;

/* Inside auto layout */
margin-left: 150px;
top: 250px;
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
}
#xarisxi{
    box-sizing: border-box;

width: 371px;
height: 48px;

background: #FFFFFF;
border: 1px solid #BCBCBC;
border-radius: 4px;
position: fixed;

/* Inside auto layout */
margin-left: 135px;
top: 290px;
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
}
#dastarigi{
    width: 371px;
height: 21px;

font-family: 'Helvetica Neue';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 21px;
position: fixed;
/* identical to box height, or 131% */

margin-left: 535px;
top: 250px;
display: flex;
align-items: center;

color: #000000;
}
.tari2{
    box-sizing: border-box;

width: 371px;
height: 48px;

background: #FFFFFF;
border: 1px solid #BCBCBC;
border-radius: 4px;
position: fixed;
/* Inside auto layout */
margin-left: 530px;
top:290px;
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
}

.chem{
    width: 798px;
height: 21px;

font-family: 'Helvetica Neue';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 21px;
/* identical to box height, or 131% */
position: fixed;
display: flex;
align-items: center;
margin-left: 140px;
top: 360px;
color: #000000;
}
.wtex{
    box-sizing: border-box;

width: 798px;
height: 179px;

background: #FFFFFF;
border: 1px solid #BCBCBC;
border-radius: 4px;
position: fixed;
/* Inside auto layout */
margin-left: 130px;
top: 400px;
resize: none;
flex: none;
order: 1;
align-self: stretch;
flex-grow: 1
}
#buto{
    display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 1px 23px;
gap: 20px;
color: #FFFFFF;
font-optical-sizing:none;
position: absolute;
width: 289px;
height: 48px;
left: calc(50% - 300px/2 - 666.5px);
top: 704px;
text-align:center;
  padding:1rem;
  order:3;
  flex:2 1 100%;

background: #62A1EB;
border-radius: 4px; 
}

#buto2{
    display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 18px 40px;
gap: 20px;
color: #FFFFFF;
position: absolute;
width: 113px;
height: 48px;
left: 150px;
bottom: 65px;
top: 870px;

background: #6B40E3;
border-radius: 4px;
}

#buto3{
    display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 18px 35px;
gap: 20px;
color: #FFFFFF;
position: absolute;
width: 151px;
height: 48px;
right: 972px;
bottom: 65px;
margin-left: 600px;
margin-top: 830px;

background: #6B40E3;
border-radius: 4px;
}